# Estructura de datos en Python

En Python podemos encontrar distintos tipos de datos con diferentes características y clasificaciones. En esta sesión repasaremos los tipos de datos básicos, aunque se mencionarán otros tipos que servirán en el futuro.

<img src="Datatypes-in-python.jpg" width="600">

**Numéricos**

        int >>> Numero entero

In [1]:
# También se pueden escribir así
123456

123456

In [2]:
edad = 23
edad

23

In [1]:
x = 1
type(x)

int

        float >>> Número decimal (no exactamente)

In [3]:
pi = 3.14
pi

3.14

In [2]:
5 / 2

2.5

In [3]:
x = 0.000005
y = 5e-6
print(x == y)

True

In [4]:
x = 1400000.00
y = 1.4e6
print(x == y)

True

In [5]:
float(1)

1.0

In [6]:
# precisión de floating points
0.1 + 0.2 == 0.3

False

In [7]:
print("0.1 = {0:.17f}".format(0.1))
print("0.2 = {0:.17f}".format(0.2))
print("0.3 = {0:.17f}".format(0.3))

0.1 = 0.10000000000000001
0.2 = 0.20000000000000001
0.3 = 0.29999999999999999

        complex >>> números imaginarios

In [9]:
complejo = 1+2j
complejo.real

1.0

In [10]:
complejo.imag

2.0

In [11]:
complejo.conjugate()

(1-2j)

## **Set:** 
Contenedor de varios valores dentro de una variable. No tienen orden ni indice

In [6]:
set1 = {"manzanas", "banana", "cereza"}
print(set1)

{'banana', 'manzanas', 'cereza'}

In [65]:
primes = {2, 3, 5, 7}
odds = {1, 3, 5, 7, 9}

In [66]:
# union: items appearing in either
primes | odds      # with an operator
primes.union(odds) # equivalently with a method

{1, 2, 3, 5, 7, 9}

In [67]:
# intersection: items appearing in both
primes & odds             # with an operator
primes.intersection(odds) # equivalently with a method

{3, 5, 7}

In [68]:
# difference: items in primes but not in odds
primes - odds           # with an operator
primes.difference(odds) # equivalently with a method

{2}

In [69]:
# symmetric difference: items appearing in only one set
primes ^ odds                     # with an operator
primes.symmetric_difference(odds) # equivalently with a method

{1, 2, 9}

## **Diccionarios:**

son tipos especiales de contenedores en los que se puede acceder a sus elementos a partir de una clave única.

In [31]:
dic = {"nombre" : "Natalia", "valor_pi" : pi , "edad" : edad}
print (dic["nombre"])

Natalia

In [8]:
dic.values

In [33]:
lista = dic.keys
lista

In [62]:
numbers = {'one':1, 'two':2, 'three':3}

In [63]:
# Access a value via the key
numbers['two']

2

In [64]:
# Set a new key:value pair
numbers['ninety'] = 90
print(numbers)

{'one': 1, 'two': 2, 'three': 3, 'ninety': 90}

**Boolean**

In [9]:
boolean1 = True
boolean1

True

**Tipos de secuencias**

**Strings (cadenas de chars)**

In [12]:
name = "Natalia"
name

'Natalia'

In [13]:
message = "what do you like?"
response = 'spam'

In [14]:
# length of string
len(response)

4

In [15]:
# Make upper-case. See also str.lower()
response.upper()

'SPAM'

In [16]:
# Capitalize. See also str.title()
message.capitalize()

'What do you like?'

In [17]:
# concatenation with +
message + response

'what do you like?spam'

In [18]:
# multiplication is multiple concatenation
5 * response

'spamspamspamspamspam'

In [19]:
# Access individual characters (zero-based indexing)
message[0]

'w'

**Tipo None:**

In [20]:
type(None)

NoneType

In [21]:
return_value = print('abc')

abc

In [22]:
print(return_value)

None

**Listas:** Son conjuntos mutables (se pueden cambiar)

In [11]:
alumnos = ["María", "Pedro","Juan","Azul","Oliver"]
alumnos

['María', 'Pedro', 'Juan']

In [14]:
alumnos[5]

IndexError: list index out of range

In [26]:
sliced = alumnos [1:3]
sliced

('Pedro', 'Juan')

In [34]:
L = [2, 3, 5, 7]

In [35]:
# Length of a list
len(L)

4

In [36]:
# Append a value to the end
L.append(11)
L

[2, 3, 5, 7, 11]

In [37]:
# Addition concatenates lists
L + [13, 17, 19]

[2, 3, 5, 7, 11, 13, 17, 19]

In [38]:
# sort() method sorts in-place
L = [2, 5, 1, 6, 3, 4]
L.sort()
L

[1, 2, 3, 4, 5, 6]

In [39]:
L = [1, 'two', 3.14, [0, 3, 5]]

In [76]:
L = [2, 3, 5, 7, 11]

In [41]:
L[0]

2

In [42]:
L[1]

3

In [43]:
L[-1]

11

In [44]:
L[-2]

7

<img src='https://jakevdp.github.io/WhirlwindTourOfPython/figures/list-indexing.png' width=400>

Fuente: [Whirlind Tour of Python](https://jakevdp.github.io/WhirlwindTourOfPython/06-built-in-data-structures.html)

In [45]:
L[0:3]

[2, 3, 5]

In [46]:
L[:3]

[2, 3, 5]

In [47]:
L[-3:]

[5, 7, 11]

In [48]:
L[::2]  # equivalent to L[0:len(L):2]

[2, 5, 11]

In [50]:
L[::-1] #invertir una lista

[11, 7, 5, 3, 2]

In [52]:
L[0] = 100 # definir un item
print(L)

[100, 3, 5, 7, 11]

In [53]:
L[1:3] = [55, 56]
print(L)

[100, 55, 56, 7, 11]

In [73]:
L

[100, 56, 7, 11, 1]

In [77]:
# Eliminar el elemento en un indice
L.pop(1)
L

[2, 5, 7, 11]

In [80]:
# Insertar un valor en un indice dado
L.insert(2, 99)
L

[2, 5, 99, 7, 11, 1, 2]

## **Tuplas:** 
Son conjuntos estáticos (no se pueden manejar de forma tan dinámica como las listas)

In [15]:
alumnos = ("María", "Pedro","Juan")
alumnos

('María', 'Pedro', 'Juan')

In [16]:
alumnos[0]

'María'

In [54]:
t = (1, 2, 3)

In [55]:
t = 1, 2, 3 # también se pueden definir sin paréntesis
print(t)

(1, 2, 3)

In [56]:
len(t)

3

In [57]:
t[0]

1

In [58]:
# Las tuplas son inmutables
t[1] = 4

TypeError: 'tuple' object does not support item assignment

In [59]:
# Las tuplas son inmutables
t.append(4)

AttributeError: 'tuple' object has no attribute 'append'

In [60]:
# Ejemplo de una función que retorna una tupla
x = 0.125
x.as_integer_ratio()

(1, 8)

In [61]:
numerator, denominator = x.as_integer_ratio()
print(numerator / denominator)

0.125

## Tipo booleano
- Verdadero o falso
- 1 ó 0

In [23]:
result = (4 < 5)
result

True

In [24]:
type(result)

bool

In [25]:
print(True, False)

True False

In [26]:
bool(2014)

True

In [27]:
bool(0)

False

In [28]:
bool(3.1415)

True

In [29]:
bool(None)

False

In [30]:
bool("")

False

In [31]:
bool("abc")

True

In [32]:
bool([1, 2, 3])

True

In [33]:
bool([])

False

[Más información sobre los tipos de datos](https://j2logo.com/python/tutorial/tipos-de-datos-basicos-de-python/#:~:text=Los%20tipos%20de%20datos%20b%C3%A1sicos%20de%20Python%20son%20los%20booleanos,tipos%20list%2C%20tuple%20y%20range)

[Más información sobre listas y tuplas](https://recursospython.com/guias-y-manuales/listas-y-tuplas/#:~:text=La%20diferencia%20es%20que%20las,que%20las%20tuplas%20son%20est%C3%A1ticas.)

# Conversión de tipos de datos

    Convertir a cadena de texto (string): str()
    Convertir a entero: int()
    A punto flotante (números decimales): float()
    A booleano: bool()

In [17]:
str(edad)

'23'

In [18]:
print (str(edad) + "años")

23años

In [19]:
int("años")

ValueError: invalid literal for int() with base 10: 'años'

In [20]:
numero = "306"
numero

'306'

In [21]:
numero = int (numero)
numero

306

In [22]:
edad * numero

7038

## Input y ejercicio de práctica
Podemos utilizar la función input() para recibir una entrada del usuario. Esta entrada es de typo string.

In [23]:
x = input('Ingrese su valor')
print(x)

Ingrese su valor5
5

Escriba un codigo que reciba un integer como input del usuario, guarde este input en una variable a.
Reciba una segundo input del usuario que sea tipo float, guarde este valor como una variable b.
A partir de esta variable imprima las siguientes operaciones

                                    a + b
                                    a - b
                                    a * b
                                    a ** b
                                    a / b

In [25]:
a = input("Ingrese un numero completo")
b = input("Ingrese un numero decimal")
a = int(a)
b = float(b)
print(a + b)
print(a - b)
print(a * b)
print(a ** b)
print(a / b)

Ingrese un numero completo8
Ingrese un numero decimal2.5
10.5
5.5
20.0
181.01933598375618
3.2

## Ejercicios

### 1 - Cree un script para agregar una llave-valor a un diccionario
Sample Dictionary : {0: 10, 1: 20}
Expected Result : {0: 10, 1: 20, 2: 30}

### 2 - Cree un script para crear la lista inversa de la siguiente lista
aLsit = [100, 200, 300, 400, 500]

resultado esperado = [500, 400, 300, 200, 100]

### 3- Una las siguientes listas para obtener el resutaldo esperado

list1 = ["M", "na", "i", "Ke"]
list2 = ["y", "me", "s", "lly"]

resultado esperado = ['My', 'name', 'is', 'Kelly']

### 4 - Manipule las siguientes listas para obtener el resultado esperado

list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]

10 400
20 300
30 200
40 100

### 5 - Separe la siguiente lista en 3 listas de igual tamaño. Invierta las 3 nuevas listas

sampleList = [11, 45, 8, 23, 14, 12, 78, 45, 89]

Resultado esperado:

Original list  [11, 45, 8, 23, 14, 12, 78, 45, 89]

Chunk  1 [11, 45, 8]

After reversing it  [8, 45, 11]

Chunk  2 [23, 14, 12]

After reversing it  [12, 14, 23]

Chunk  3 [78, 45, 89]

After reversing it  [89, 45, 78]

### Cree un set a partir de dos listas de igual tamaño. El set está compuesto por la combinación de los índices de ambas listas
lista1 = [2, 3, 4, 5, 6, 7, 8]
 
lista2 = [4, 9, 16, 25, 36, 49, 64]

Resultado esperado:


Result is  {(6, 36), (8, 64), (4, 16), (5, 25), (3, 9), (7, 49), (2, 4)}