# Practica

Vamos a trabajar con un archivo .csv llamado ExoTest.


        ETIQUETA -> 2 es una estrella de exoplanetas y 1 es una estrella que no es de exoplanetas.
        FLUX1-FLUX3197 -> la intensidad de luz registrada para cada estrella, en un punto diferente en el tiempo.

Los datos describen el cambio en el flujo (intensidad de la luz) de varios miles de estrellas. Cada estrella tiene una etiqueta binaria de 2 o 1. 2 indica que se confirma que la estrella tiene al menos un exoplaneta en órbita; algunas observaciones son de hecho sistemas de varios planetas.

Como puedes imaginar, los planetas en sí mismos no emiten luz, pero sí las estrellas que orbitan. Si dicha estrella se observa durante varios meses o años, puede haber un "oscurecimiento" regular del flujo (la intensidad de la luz). Esto es evidencia de que puede haber un cuerpo en órbita alrededor de la estrella; tal estrella podría considerarse un sistema "candidato". Un estudio más detallado de nuestro sistema candidato, por ejemplo, mediante un satélite que captura luz en una longitud de onda diferente, podría solidificar la creencia de que el candidato puede, de hecho, ser "confirmado".

Generalidades:

    570 filas u observaciones.
    3198 columnas o características.
    La columna 1 es el vector de etiqueta. Las columnas 2 a 3198 son los valores de flujo a lo largo del tiempo.
    5 estrellas de exoplanetas confirmadas y 565 estrellas que no son de exoplanetas.

**Derechos:**
Los datos presentados aquí están limpios y se derivan de las observaciones realizadas por el telescopio espacial Kepler de la NASA. La Misión está en curso; por ejemplo, los datos de la Campaña 12 se publicaron el 8 de marzo de 2017. Más del 99% de este conjunto de datos se origina en la Campaña 3. Para aumentar el número de estrellas de exoplanetas en el conjunto de datos, también se incluyeron exoplanetas confirmados de otras campañas.

Para ser claros, se incluyen todas las observaciones de la Campaña 3. Y además de esto, también se incluyen estrellas de exoplanetas confirmadas de otras campañas.

Los conjuntos de datos se prepararon a fines del verano de 2016.

Se utilizó la Campaña 3 porque 'se consideró' que es poco probable que esta Campaña contenga exoplanetas no descubiertos (es decir, etiquetados incorrectamente).

La NASA abre los datos originales de la Misión Kepler y está alojada en el Archivo Mikulski. Después de ser transmitido a la Tierra, la NASA aplica algoritmos de eliminación de ruido para eliminar los artefactos generados por el telescopio. Los datos, en formato .fits, se almacenan en línea. Y con la ayuda de un astrofísico experimentado, cualquier persona con conexión a Internet puede embarcarse en una búsqueda para encontrar y recuperar los archivos de datos del Archivo.

**Entender los datos con los que se trabaja**

1)Importe los datos del CSV a un dataframe de Python

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r'exoTest.csv')
df

,LABEL,FLUX.1,FLUX.2,FLUX.3,FLUX.4,FLUX.5,FLUX.6,FLUX.7,FLUX.8,FLUX.9,...,FLUX.3188,FLUX.3189,FLUX.3190,FLUX.3191,FLUX.3192,FLUX.3193,FLUX.3194,FLUX.3195,FLUX.3196,FLUX.3197
0,2,119.88,100.21,86.46,48.68,46.12,39.39,18.57,6.98,6.63,...,14.52,19.29,14.44,-1.62,13.33,45.50,31.93,35.78,269.43,57.72
1,2,5736.59,5699.98,5717.16,5692.73,5663.83,5631.16,5626.39,5569.47,5550.44,...,-581.91,-984.09,-1230.89,-1600.45,-1824.53,-2061.17,-2265.98,-2366.19,-2294.86,-2034.72
2,2,844.48,817.49,770.07,675.01,605.52,499.45,440.77,362.95,207.27,...,17.82,-51.66,-48.29,-59.99,-82.10,-174.54,-95.23,-162.68,-36.79,30.63
3,2,-826.00,-827.31,-846.12,-836.03,-745.50,-784.69,-791.22,-746.50,-709.53,...,122.34,93.03,93.03,68.81,9.81,20.75,20.25,-120.81,-257.56,-215.41
4,2,-39.57,-15.88,-9.16,-6.37,-16.13,-24.05,-0.90,-45.20,-5.04,...,-37.87,-61.85,-27.15,-21.18,-33.76,-85.34,-81.46,-61.98,-69.34,-17.84
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
565,1,374.46,326.06,319.87,338.23,251.54,209.84,186.35,167.46,135.45,...,-123.55,-166.90,-222.44,-209.71,-180.16,-166.83,-235.66,-213.63,-205.99,-194.07
566,1,-0.36,4.96,6.25,4.20,8.26,-9.53,-10.10,-4.54,-11.55,...,-12.40,-5.99,-17.94,-11.96,-12.11,-13.68,-3.59,-5.32,-10.98,-11.24
567,1,-54.01,-44.13,-41.23,-42.82,-39.47,-24.88,-31.14,-24.71,-13.12,...,-0.73,-1.64,1.58,-4.82,-11.93,-17.14,-4.25,5.47,14.46,18.70
568,1,91.36,85.60,48.81,48.69,70.05,22.30,11.63,37.86,28.27,...,2.44,11.53,-16.42,-17.86,21.10,-10.25,-37.06,-8.43,-6.48,17.60
569,1,3071.19,2782.53,2608.69,2325.47,2089.37,1769.56,1421.09,1142.09,902.31,...,695.41,865.97,882.41,1203.06,1293.03,1354.41,-192.81,-277.22,-69.63,121.56

2) ¿Cuántas filas son de estrellas de exoplanetas?

In [3]:
x = 0
for i in df['LABEL']:
    if i == 2:
        x = x + 1
    else:
        x = x
print ("El dataset tiene " + str(x) + " estrellas de exoplanetas")

El dataset tiene 5 estrellas de exoplanetas

In [21]:
df['LABEL']

0      2
1      2
2      2
3      2
4      2
      ..
565    1
566    1
567    1
568    1
569    1
Name: LABEL, Length: 570, dtype: int64

3) Muestre las filas que tienen Label 2

In [23]:
c = df[(df["LABEL"] == 2)]
c

,LABEL,FLUX.1,FLUX.2,FLUX.3,FLUX.4,FLUX.5,FLUX.6,FLUX.7,FLUX.8,FLUX.9,...,FLUX.3189,FLUX.3190,FLUX.3191,FLUX.3192,FLUX.3193,FLUX.3194,FLUX.3195,FLUX.3196,FLUX.3197,FLAG
0,2,119.88,100.21,86.46,48.68,46.12,39.39,18.57,6.98,6.63,...,19.29,14.44,-1.62,13.33,45.50,31.93,35.78,269.43,57.72,candidate
1,2,5736.59,5699.98,5717.16,5692.73,5663.83,5631.16,5626.39,5569.47,5550.44,...,-984.09,-1230.89,-1600.45,-1824.53,-2061.17,-2265.98,-2366.19,-2294.86,-2034.72,candidate
2,2,844.48,817.49,770.07,675.01,605.52,499.45,440.77,362.95,207.27,...,-51.66,-48.29,-59.99,-82.10,-174.54,-95.23,-162.68,-36.79,30.63,candidate
3,2,-826.00,-827.31,-846.12,-836.03,-745.50,-784.69,-791.22,-746.50,-709.53,...,93.03,93.03,68.81,9.81,20.75,20.25,-120.81,-257.56,-215.41,candidate
4,2,-39.57,-15.88,-9.16,-6.37,-16.13,-24.05,-0.90,-45.20,-5.04,...,-61.85,-27.15,-21.18,-33.76,-85.34,-81.46,-61.98,-69.34,-17.84,candidate

In [25]:
df["Nueva_col"] = np.nan
df

,LABEL,FLUX.1,FLUX.2,FLUX.3,FLUX.4,FLUX.5,FLUX.6,FLUX.7,FLUX.8,FLUX.9,...,FLUX.3190,FLUX.3191,FLUX.3192,FLUX.3193,FLUX.3194,FLUX.3195,FLUX.3196,FLUX.3197,FLAG,Nueva_col
0,2,119.88,100.21,86.46,48.68,46.12,39.39,18.57,6.98,6.63,...,14.44,-1.62,13.33,45.50,31.93,35.78,269.43,57.72,candidate,NaN
1,2,5736.59,5699.98,5717.16,5692.73,5663.83,5631.16,5626.39,5569.47,5550.44,...,-1230.89,-1600.45,-1824.53,-2061.17,-2265.98,-2366.19,-2294.86,-2034.72,candidate,NaN
2,2,844.48,817.49,770.07,675.01,605.52,499.45,440.77,362.95,207.27,...,-48.29,-59.99,-82.10,-174.54,-95.23,-162.68,-36.79,30.63,candidate,NaN
3,2,-826.00,-827.31,-846.12,-836.03,-745.50,-784.69,-791.22,-746.50,-709.53,...,93.03,68.81,9.81,20.75,20.25,-120.81,-257.56,-215.41,candidate,NaN
4,2,-39.57,-15.88,-9.16,-6.37,-16.13,-24.05,-0.90,-45.20,-5.04,...,-27.15,-21.18,-33.76,-85.34,-81.46,-61.98,-69.34,-17.84,candidate,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
565,1,374.46,326.06,319.87,338.23,251.54,209.84,186.35,167.46,135.45,...,-222.44,-209.71,-180.16,-166.83,-235.66,-213.63,-205.99,-194.07,rechazado,NaN
566,1,-0.36,4.96,6.25,4.20,8.26,-9.53,-10.10,-4.54,-11.55,...,-17.94,-11.96,-12.11,-13.68,-3.59,-5.32,-10.98,-11.24,rechazado,NaN
567,1,-54.01,-44.13,-41.23,-42.82,-39.47,-24.88,-31.14,-24.71,-13.12,...,1.58,-4.82,-11.93,-17.14,-4.25,5.47,14.46,18.70,rechazado,NaN
568,1,91.36,85.60,48.81,48.69,70.05,22.30,11.63,37.86,28.27,...,-16.42,-17.86,21.10,-10.25,-37.06,-8.43,-6.48,17.60,rechazado,NaN
569,1,3071.19,2782.53,2608.69,2325.47,2089.37,1769.56,1421.09,1142.09,902.31,...,882.41,1203.06,1293.03,1354.41,-192.81,-277.22,-69.63,121.56,rechazado,NaN

**Crear columnas para etiquetar filas**

1)Cree un script que recorra la columna LABEL y según su valor defina el campo de una nueva columna como "candidato" o "rechazado"

In [5]:
df["FLAG"] = ""
for i in df["LABEL"]:
    if i == 2:
        df["FLAG"][i] = "candidate"
    else:
        df["FLAG"][i] = "rechazado"
        
df

C:\Users\Natty\anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\Natty\anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,LABEL,FLUX.1,FLUX.2,FLUX.3,FLUX.4,FLUX.5,FLUX.6,FLUX.7,FLUX.8,FLUX.9,...,FLUX.3189,FLUX.3190,FLUX.3191,FLUX.3192,FLUX.3193,FLUX.3194,FLUX.3195,FLUX.3196,FLUX.3197,FLAG
0,2,119.88,100.21,86.46,48.68,46.12,39.39,18.57,6.98,6.63,...,19.29,14.44,-1.62,13.33,45.50,31.93,35.78,269.43,57.72,
1,2,5736.59,5699.98,5717.16,5692.73,5663.83,5631.16,5626.39,5569.47,5550.44,...,-984.09,-1230.89,-1600.45,-1824.53,-2061.17,-2265.98,-2366.19,-2294.86,-2034.72,rechazado
2,2,844.48,817.49,770.07,675.01,605.52,499.45,440.77,362.95,207.27,...,-51.66,-48.29,-59.99,-82.10,-174.54,-95.23,-162.68,-36.79,30.63,candidate
3,2,-826.00,-827.31,-846.12,-836.03,-745.50,-784.69,-791.22,-746.50,-709.53,...,93.03,93.03,68.81,9.81,20.75,20.25,-120.81,-257.56,-215.41,
4,2,-39.57,-15.88,-9.16,-6.37,-16.13,-24.05,-0.90,-45.20,-5.04,...,-61.85,-27.15,-21.18,-33.76,-85.34,-81.46,-61.98,-69.34,-17.84,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
565,1,374.46,326.06,319.87,338.23,251.54,209.84,186.35,167.46,135.45,...,-166.90,-222.44,-209.71,-180.16,-166.83,-235.66,-213.63,-205.99,-194.07,
566,1,-0.36,4.96,6.25,4.20,8.26,-9.53,-10.10,-4.54,-11.55,...,-5.99,-17.94,-11.96,-12.11,-13.68,-3.59,-5.32,-10.98,-11.24,
567,1,-54.01,-44.13,-41.23,-42.82,-39.47,-24.88,-31.14,-24.71,-13.12,...,-1.64,1.58,-4.82,-11.93,-17.14,-4.25,5.47,14.46,18.70,
568,1,91.36,85.60,48.81,48.69,70.05,22.30,11.63,37.86,28.27,...,11.53,-16.42,-17.86,21.10,-10.25,-37.06,-8.43,-6.48,17.60,
569,1,3071.19,2782.53,2608.69,2325.47,2089.37,1769.56,1421.09,1142.09,902.31,...,865.97,882.41,1203.06,1293.03,1354.41,-192.81,-277.22,-69.63,121.56,

In [6]:
import numpy as np

In [7]:
df["FLAG"] = np.where(df["LABEL"] == 2, "candidate", "rechazado")

In [8]:
df

,LABEL,FLUX.1,FLUX.2,FLUX.3,FLUX.4,FLUX.5,FLUX.6,FLUX.7,FLUX.8,FLUX.9,...,FLUX.3189,FLUX.3190,FLUX.3191,FLUX.3192,FLUX.3193,FLUX.3194,FLUX.3195,FLUX.3196,FLUX.3197,FLAG
0,2,119.88,100.21,86.46,48.68,46.12,39.39,18.57,6.98,6.63,...,19.29,14.44,-1.62,13.33,45.50,31.93,35.78,269.43,57.72,candidate
1,2,5736.59,5699.98,5717.16,5692.73,5663.83,5631.16,5626.39,5569.47,5550.44,...,-984.09,-1230.89,-1600.45,-1824.53,-2061.17,-2265.98,-2366.19,-2294.86,-2034.72,candidate
2,2,844.48,817.49,770.07,675.01,605.52,499.45,440.77,362.95,207.27,...,-51.66,-48.29,-59.99,-82.10,-174.54,-95.23,-162.68,-36.79,30.63,candidate
3,2,-826.00,-827.31,-846.12,-836.03,-745.50,-784.69,-791.22,-746.50,-709.53,...,93.03,93.03,68.81,9.81,20.75,20.25,-120.81,-257.56,-215.41,candidate
4,2,-39.57,-15.88,-9.16,-6.37,-16.13,-24.05,-0.90,-45.20,-5.04,...,-61.85,-27.15,-21.18,-33.76,-85.34,-81.46,-61.98,-69.34,-17.84,candidate
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
565,1,374.46,326.06,319.87,338.23,251.54,209.84,186.35,167.46,135.45,...,-166.90,-222.44,-209.71,-180.16,-166.83,-235.66,-213.63,-205.99,-194.07,rechazado
566,1,-0.36,4.96,6.25,4.20,8.26,-9.53,-10.10,-4.54,-11.55,...,-5.99,-17.94,-11.96,-12.11,-13.68,-3.59,-5.32,-10.98,-11.24,rechazado
567,1,-54.01,-44.13,-41.23,-42.82,-39.47,-24.88,-31.14,-24.71,-13.12,...,-1.64,1.58,-4.82,-11.93,-17.14,-4.25,5.47,14.46,18.70,rechazado
568,1,91.36,85.60,48.81,48.69,70.05,22.30,11.63,37.86,28.27,...,11.53,-16.42,-17.86,21.10,-10.25,-37.06,-8.43,-6.48,17.60,rechazado
569,1,3071.19,2782.53,2608.69,2325.47,2089.37,1769.56,1421.09,1142.09,902.31,...,865.97,882.41,1203.06,1293.03,1354.41,-192.81,-277.22,-69.63,121.56,rechazado

3) Por medio de un while cuente todos las filas cuyo FLUX.8 divido entre su FLUX.3121 de un número par

In [20]:
i = 0
count = 0
while i <= len(df["LABEL"]):
    for x in df["FLUX.8"]:
        num = df.iloc[0,3192]
        aux = x/num
        #print (aux)
        if (int(aux) % 2 == 0):
            count = count + 1
    i = i + 1
print (count)

208986